/* <!-- 
Rock{The Code} Giuseppe Allocca 2023
 --> */

#container {
  width: 90%;
  height: auto;
  max-width: 1024px;
  margin: auto;
  background: #f2f2f2;
}
#logo {
  background: #ffa526;
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-bottom: 30px;
}
#logo img {
  max-width: 20%;
}
#options {
  width: 100%;
  margin-bottom: 50px;
  background: #ffa526;
  height: 80px;
  display: flex;
  justify-content: space-around;
}
h3 {
  background-color: #016699;
  color: white;
  height: 10px;
  margin-bottom: 35px;
  padding: 10px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
#image {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
#info h2 {
  width: 100%;
  color: #0199cc;
  background: #f2f2f2;
  margin: 0%;
  margin-top: 50px;
  margin-bottom: 50px;
}
section#info {
  background: #f2f2f2;
  text-align: center;
}
section#testo {
  padding: 30px;
  text-align: justify;
  background: #f2f2f2;
}
section#abilita {
  background: #f2f2f2;
}
section#abilita h2 {
  color: #016699;
  background: #f2f2f2;
  text-align: center;
  margin: 0px;
}
section#skills li {
  list-style-type: none;
  background: #ffa526;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: white;
  border-radius: 10px;
}
section#skills ul {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0px;
  padding-inline-start: 0%;
  margin-block-start: 0%;
  margin-block-end: 0%;
  justify-content: space-between;
}
footer p {
  color: white;
  background: #0199cc;
  text-align: center;
  padding: 30px;
  margin: 0px;
}
